body {
    background-color: hsl(210, 46%, 95%);
    font-family: "Manrope", sans-serif;
}

main,.drawer-img,.lower-txt-div {
    max-width: 280px;
    width: 280px;
}

.drawer-img {
    border-radius: 10px 10px 0 0;
}

main {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    height: 530px;
    position: relative;
    top: 3em;
    left: 0.75em;
}

.user-img {
    border-radius: 50%;
    width: 16%;
}

.title,.txt {
    font-size: 14px;
    width: 85%;
    position: relative;
    left: 1.25em;
    color: hsl(212, 23%, 69%);
}

.title {
    padding: 3em 0 1em 0;
}

.user-div {
    position: relative;
    left: 0.65rem;
    top: 1em;
}

.user-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 4.3em;
    font-size: 14px;
}

.date {
    position: relative;
    bottom: 2em;
    right: 2em;
}

.share {
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    padding: 12px;
    width: 5%;
    position: relative;
    left: 14.6em;
    bottom: 8em;
}

@media (min-width: 375px) {
    main {
        left: 2em;
    }
    .user-img {
        position: relative;
        left: 5px;
    }
}

@media (min-width: 400px) {
    main {
        left: 3em;
    }
}

@media (min-width: 514px) {
    main {
        left: 7em;
    }
}

@media (min-width: 600px) {
    main {
        left: 1em;
        top: 0;
        padding-bottom: 7.6em;
    }

    .title,.txt {
        font-size: 16px;
    }

    main,.drawer-img,.lower-txt-div {
        max-width: 545px;
        width: 545px;
    }

    .lower-txt-div {
        position: relative;
        bottom: 2.8em;
    }

    .user-img {
        width: 10%;
        left: 7em;
    }

    .user-info {
        bottom: 4.5em;
    }

    .share {
        bottom: 9.2em;
        left: 29em;
    }

    .user-div {
        left: -2.2em;
        top: 0;
    }
}

@media (min-width: 768px) {
    main {
        left: 6em;
    }
}

@media (min-width: 1024px) {
    main {
        left: 13em;
    }
}

@media (min-width: 1440px) {
    .lower-txt-div {
        background-color: #fff;
        position: relative;
        bottom: 21.1em;
        height: 82%;
        left: 34.2em;
        border-radius: 0 10px 10px 0;
    }

    main {
        background-color: initial;
    }

    .drawer-img {
        border-radius: 10px 0 0 10px;
        position: relative;
        top: 7em;
    }

    .title {
        font-size: 20px;
        color: hsl(217, 19%, 35%);
    }

    .txt {
        font-size: 16px;
    }

    .user-div {
        top: 6em;
    }

    .share {
        bottom: 2.5em;
        left: 27em;
    }
}